.header {
  position: relative;
  height: 95vh;
  /* Render a combination of 2 background images, a green background on top of an image */
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, .8),
      rgba($color-primary-dark, .8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;

  /* creates a region that sets what part of an element should be displayed */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }
  
  /* Center an element to the middle of the screen */
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}